.app{
    max-width: 1920px;
    margin: auto;
}
.banner img{
    width: 100%;
    height: auto;

}
.banner .card{
    overflow: hidden;
    max-height: 300px;
}
@font-face {
    font-family: 'YuYang';
    src: url('../font/TsangerYuYangT_W03_W03.ttf'); 
  }
  
*{
    font-family: 'YuYang';
}

.maodian img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.title-position{
    left: -2em;
    top: -14em;
    font-size: 16px !important;
    position: relative;

}

.title-position span{
    font-weight: 800;
    max-width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px !important;
}

.card-1 {
    background-color: #fff;
    color: #000000;
}

.card-1 span,
.card-1 div {
    font-size: 18px;
}


.card-1{
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-1 p{
    padding: 0;
    margin: 0;
}

.card-img {
    /* background-color: #ffcaa6; */
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    overflow: hidden;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.card-footer .card-button{
    padding: 0;
    border: none;
    background-color: #fff;
}

/*Text*/
 .text-title {
    font-weight: 900;
    font-size: 0.9em;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-body {
    font-size: .9em;
    margin-bottom: 10px;
}

.card-info .badge{
    font-size: 0.6em;
}

/*Button*/
.card-button {
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}
.card-button svg{
    height: 32px;
    width: 32px;
}
.card-button span{
    font-size: 7px;
}

/*Hover*/
.card-1:hover .card-img{
    transform: translateY(-30%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    
}

.sp .xinpin{
    background: #35a646;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    font-size: 0.3em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}
.yq{
    display: flex;
    align-items: center;
    justify-content: space-between;
}








  /* 商品详情 */
  .spxq .card-commodity { border-radius: 18px;  box-shadow: 0 0 12px -5px #fff; }
  .spxq .hset { width: 200px;height:230px;     object-fit: cover; }
  @keyframes jello-diagonal{0%{transform:skew(0deg 0deg)}30%{transform:skew(25deg 25deg)}40%{transform:skew(-15deg,-15deg)}50%{transform:skew(15deg,15deg)}65%{transform:skew(-5deg,-5deg)}75%{transform:skew(5deg,5deg)}100%{transform:skew(0deg 0deg)}}
  .spxq .zoom-txt { font-size: 10px; color: #b1b1b1; margin-left: 66px; }
  .spxq .sp-label { background: #121212; color: #fff; font-weight: 500; font-size: 11px; width: fit-content; padding: 4px 7px; border-radius: 99px; }
  .spxq .sp-label:hover { animation:shake-horizontal 1.1s linear both; cursor: pointer; }

  
  /* ----------------------------------------------
    Generated by AnimatiSS
    Licensed under FreeBSD License
    URL: https://xsgames.co/animatiss
    Twitter: @xsgames_
  ---------------------------------------------- */
  @keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}
  
  .spxq .title { font-size: 16px; font-weight: 600;  }
  .spxq .old-price { text-decoration: line-through; font-size: 13px; display: inline-block; }
  .spxq .new-price { font-weight: 600; font-size: 38px; }
  .spxq .new-price:hover { animation:shake-horizontal 0.8s linear both; cursor: pointer; } 
  @keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}
  .spxq .offer-info { color: #86878c; font-size: 12px; }
  .spxq .green-dot { background: #00d889; width: 16px; height: 16px; border-radius: 99px;}
  .spxq .green-dot1 { background: #d80000; width: 16px; height: 16px; border-radius: 99px;}
  .spxq .stock-pcs { margin-left: 17px; font-size: 12px; margin-top: -16px }
  
  .spms img{
      max-width: 100%;
      height: auto;
  }
  .spms .accordion{
      --bs-accordion-active-bg:RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
      --bs-accordion-bg:RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
  }
  .spms .accordion-item{
      border: 0;
  }
  .spms .accordion-button,.spms .accordion-body{
      color: #fff;
  }
  .spms .accordion-button:not(.collapsed){
      box-shadow: none;
  }







  




/* 订单确认 */

  .bill  address {
    font-style: normal;
    margin-bottom: 0;
  } 

.bill button {
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
}

.bill fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.bill h1 {
    font-size: var(--font-size-h1);
    line-height: 1.2;
    margin-block: 0 1.5em;
}

.bill h2 {
    font-size: var(--font-size-h2);
    line-height: 1.2;
    margin-block: 0 0.5em;
}

.bill legend {
    font-weight: 600;
    margin-block-end: 0.5em;
    padding: 0;
}

.bill input {
    border: 0;
    color: inherit;
    font: inherit;
}

.bill input[type="radio"] {
    accent-color: var(--color-primary);
}

.bill table {
    border-collapse: collapse;
    inline-size: 100%;
}

.bill tbody {
    color: #b4b4b4;
}

.bill td {
    padding-block: 0.125em;
}

.bill tfoot {
    border-top: 1px solid #b4b4b4;
    font-weight: 600;
}

.bill .align {
    display: grid;
    place-items: center;
}

.bill .button {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 999em;
    color: #42d29d;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-block: 0.75em;
    padding-inline: 1em;
    transition: 0.3s;
    border: 1px solid #42d29d;
}

.bill .button:focus,
.bill .button:hover {
    background-color: #42d29d;
    color: #fff;
}

.bill .button--full {
    inline-size: 100%;
}

.bill .card {
    border-radius: 1em;
    background-color: black;
    color: #fff;
    padding: 1em;
}

.bill .form {
    display: grid;
    gap: 2em;
}

.bill .form__radios {
    display: grid;
    gap: 1em;
}

.bill .form__radio {
    align-items: center;
    background-color: #000000;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    display: flex;
    padding: 1em;
}

.bill .form__radio label {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1em;
}

.bill .header {
    display: flex;
    justify-content: center;
    padding-block: 0.5em;
    padding-inline: 1em;
}

.bill .icon {
    block-size: 1em;
    display: inline-block;
    fill: currentColor;
    inline-size: 1em;
    vertical-align: middle;
}

.bill .iphone {
    border-radius: 2em;
    block-size: 812px;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
    max-width: 430px;
    padding: 2em;
    margin: auto;
}


.faka .iphone{
    height: 100% !important;
    box-shadow:0 0 1em rgb(0 255 57 / 30%) inset;
    max-width: 600px;
}
.faka textarea{
    background: rgba(255,255,255,0.1);
    border: none;
    color: #fff;
}
.faka .form{
    gap: 1em;
}




/* 切换 */
@media (min-width: 1780px){
    .grop-sp{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 20px;
    }
}
@media (min-width:1430px) and (max-width:1780px) {
    .grop-sp{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
    }
}

@media (min-width: 992px) and  (max-width:1430px){
    .grop-sp{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
}

@media (min-width: 780px) and  (max-width:992px){
    .grop-sp{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
    }
    .card-1{
        width: 175px;
    }

}
@media (min-width: 640px) and  (max-width:780px){
    .grop-sp{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
    .spxq .card-commodity > div{
        display: flex;
        flex-direction: column;
    }


}

@media (min-width: 0px) and  (max-width:640px){
    .grop-sp{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .spxq .card-commodity > div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sp-label{
        margin: 15px auto;
    }
    .green-dot{
        width: auto !important;
    }
    .card-1{
        width: 100%;
    }
    .card-info div:nth-last-of-type(1){
        white-space: nowrap;
    }


}


/* 移动 */

.list-container {
    position: relative;
}
.list-container.active .more-button-list {
    opacity: 1;
    transform: scale(1);
}
.list-container.active .more-button-list-item {
    animation: fadeInItem .6s .2s forwards;
}
.list-container.active .more-button-list-item:nth-child(2) {
    animation-delay: .4s;
}
.list-container.active .more-button-list-item:nth-child(3) {
    animation-delay: .6s;
}
.list-container.active .more-button-list-item:nth-child(4) {
    animation-delay: .8s;
}
.list-container.active .more-button {
    animation: onePulse .6s forwards linear;
}
.list-container.active .menu-icon-wrapper {
    transform: rotate(-45deg);
}
.list-container.active .menu-icon-line.first {
    transform: rotate(-90deg) translateX(1px);
}
.list-container.active .menu-icon-line.last {
    transform: rotate(-90deg) translateX(-1px);
}
.more-button {
    background-color: #5c67ff;
    box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 2;
}
.more-button:hover, .more-button:focus {
    box-shadow: 0px 0px 0px 8px rgba(92, 103, 255, 0.3);
    background-color: #4854ff;
}
.more-button:focus {
    outline: 0;
}
.more-button-list {
    background-color: #fff;
    border-radius: 8px;
    list-style-type: none;
    width: 140px;
    box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
    padding: 0;
    padding: 6px;
    position: absolute;
    right: 24px;
    bottom: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all .3s ease .1s;
}
.more-button-list li {
    opacity: 0;
}
.more-button-list-item {
    display: flex;
    align-items: center;
    color: #1c3991;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in;
    transform: translatex(-10px);
}
.more-button-list-item:hover {
    color: #5c67ff;
}
.more-button-list-item:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 0;
    background-color: rgba(132, 160, 244, 0.1);
}
.more-button-list-item:last-child:after {
    display: none;
}
.more-button-list-item svg {
    width: 18px;
    height: 18px;
}
.more-button-list-item span {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    margin-left: 8px;
}
@keyframes onePulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
    }
    50% {
        box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    }
}
@keyframes fadeInItem {
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}
.socials {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
}
.social-link {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 12px;
}
.menu-icon-wrapper {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}
.menu-icon-line {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 2px;
}
.menu-icon-line.half {
    width: 50%;
}
.menu-icon-line.first {
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: right;
}
.menu-icon-line.last {
    align-self: flex-end;
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: left;
}

.yd_nav{
    position: fixed;
    right: 0;
    top: 70%;
}

.gouwuche{
    position: fixed;
    top: 80%;
    right: 0;
}

.gouwuche svg{
    width: 64px;
    height: 64px;
}
.gouwuche path{
    transition: all .3s ease .1s;
}
#gouwuche .modal-dialog .modal-content{
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
}
.yd_nav_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.yd_nav_page svg{
    width: 32px;
    height: 32px;
}
.yd_nav_page p{
    padding: 0;
    margin: 0;
}
.yd_nav_page > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yd_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
